/*
 -- Couleurs --
Sombre (fond):	#44414e
Plus sombre:	#383843
Clair: 			#f8f4f1
Orange: 		#c54607
*/

.root {
    -fx-pref-width: 1080px;
    -fx-pref-height: 720px;

    -fx-dark: #44414e;
	-fx-orange: #c54607;
	-fx-lighter: derive(-fx-dark, 25%);

	-fx-text-base-color: #f8f4f1; 			/* Menu bar (si non sélectionnée) */
    -fx-text-background-color: #f8f4f1; 	/* Principal (dans les composants) */
    -fx-text-inner-color: #f8f4f1; 			/* A l'intérieur de l'inputbox pour le XML */
    -fx-selection-bar-text: #f8f4f1; 		/* Jsp */

    -fx-background-color: derive(-fx-lighter, 0%);
}

/* MenuBar (haut) */

.menu, .context-menu, .menu-item {
	-fx-background-color: derive(-fx-dark, 0%);
}

.menu-bar {
	-fx-background-color: derive(-fx-dark, 0%);
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: derive(-fx-orange, 0%);
    -fx-border-style: solid;
}

.menu:hover, .menu-item:hover, .menu:showing, .context-menu:showing, .menu-item:showing {
	-fx-background-color: derive(-fx-orange, 0%);
}

.menu-item {
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: derive(-fx-lighter, 0%);
    -fx-border-style: solid;
}


/* TabPane (onglets des vues, à droite) */

.tab-pane {
    -fx-pref-height: 2147483647px;
}

.tab {
	-fx-tab-min-width: 60px;
	-fx-tab-min-height: 55px;
	-fx-pref-width: 60px;
	-fx-pref-height: 55px;
	-fx-background-color: derive(-fx-dark, 0%);
	-fx-border-width: 2px 2px 0px 2px;
	-fx-border-color: derive(-fx-lighter, 20%);
	-fx-border-style: solid;
	-fx-padding: -1 -1 -1 -1;
	-fx-border-radius: 5px 5px 0px 0px
}

.tab:selected {
    -fx-background-color: derive(-fx-lighter, 0%);
    -fx-pref-height: 63px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: derive(-fx-orange, 0%) derive(-fx-orange, 0%) derive(-fx-lighter, 0%) derive(-fx-orange, 0%);
    -fx-border-style: solid solid solid solid;
    -fx-border-radius: 5px 5px 0px 0px
}
.tab-label {
    -fx-content-display: graphic-only;
    -fx-padding: 0px 0px 0px 10px;
}


.tab-header-background {
	-fx-background-color: derive(-fx-dark, 0%);
	-fx-border-width: 0px 0px 1px 0px;
	-fx-border-color: derive(-fx-orange, 0%);
	-fx-border-style: solid;
}