.text-area {
	/*
	-fx-font: ;
    -fx-text-fill: ;
    -fx-prompt-text-fill: ;
    -fx-highlight-fill: ;
    -fx-highlight-text-fill: ;
    -fx-display-caret: ;

    Classe éventuelle:
    :showing
    :editable
    :armed
    */
}
