.text-area {
	/*
	-fx-font: ;
    -fx-text-fill: ;
    -fx-prompt-text-fill: ;
    -fx-highlight-fill: ;
    -fx-highlight-text-fill: ;
    -fx-display-caret: ;

    Classe éventuelle:
    :showing
    :editable
    :armed
    */

    -fx-text-fill: white;
    -fx-background-color: white; /* black ne marche pas (ça met que le padding en noir) */

    -fx-margin: 10px;
    -fx-padding: 10px;
	-fx-pref-width: 900px;
    -fx-pref-height: 600px;

}
