/*
 -- Couleurs --
Sombre (fond):	#44414e
Plus sombre:	#383843
Clair: 			#f8f4f1
Orange: 		#c54607
*/

.text-area {

    -fx-text-fill: #f8f4f1;
    -fx-text-area-background: #44414e;
    -fx-background-color: #44414e; /* Fond de la marge et du padding */

    -fx-margin: 10px;
    -fx-padding: 10px;
	-fx-pref-width: 1000px;
    -fx-pref-height: 650px;
}

.text-area .content { /* Principal (zone de texte) */
    -fx-background-color: #44414e;
}